.ItemCategories{
    min-height: 100vh;
    height: auto;
    background: #000;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    /* border-radius: 5px;
    outline: none; */


    &-grid{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        

        .ItemCategories-categories {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 20px;

            

        }

        img{
            width: 280px;
            /* height: 200px; */
            border: 1px solid #ccc;
            padding: 1px;
            transition: all 0.4s ease;
            border-radius: 5px;

            &:hover{
                transform: scale(1.1);
            }
            h4{
                padding: 0px;
            }
            button{
                padding: 0px;        
            }

        }

    }
 
    

}